.contenedorInicio {
    height: 100dvh;
    position: relative;
    z-index: 9;
    display: flex;
    margin: 10px;
    border-radius: 28px;
    /* box-shadow: 5px -5px teal; */
    scale: 1.01;
    background: url('https://webimages.mongodb.com/_com_assets/cms/kv2kwhst1pwfaq58z-lower-left.svg?auto=format%252Ccompress') bottom -3px left -4px no-repeat rgb(51, 49, 49);

    .sub {
        font-size: 20px;
        color: white;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50dvw;
        padding-top: 6rem;

        p {
            width: 40dvw;
            margin: 0;
        }

        .fuerte {
            font-size: 90px;
            color: #75c58e;
            transition: ease-in-out 300ms;
        }

        .fuerte:hover{
            scale: 1.02;
        }
        .medio {
            font-size: 40px;
            color: #40957f;
        }


    }

    .icon {
        width: 50dvw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .image {
            display: flex;
            justify-content: center;

            img {
                height: 50dvh;
            }
        }

        .texto {
            text-align: left;
        }

    }

}

/* Para responsive */
@media screen and (max-width: 850px) {
    .contenedorInicio {
        /* background:url("../../../assets/Images/undraw_progressive_app_m-9-ms.svg"); */
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90dvw;
        
        .text{
            height: 100%;
            .fuerte {
                width: 100%;
                font-size: 50px;
                color: #4a4857;
                transition: ease-in-out 300ms;
            }
    
            
            .medio {
                width: 100%;
                font-size: 40px;
                /* color: black; */
            }
            .sub{
                width: 100%;
                margin: 0;
                font-size: 30px;
                color: black;
            }
        }

        .icon{

            img{
                display: none;
            }

            .texto{
            display: none;
                .sub{
                    /* color: #000000; */
                    width: 100%;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }
}