nav {
    overflow: hidden;
    background-color: transparent;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
   animation: animarNav linear both;
   animation-timeline: scrool(root);
   animation-range: 0 200px;
    z-index: 10 !important;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    height: 3dvh;
    align-items: center;

    li a {
        font-size: 1rem;
        font-weight: bold;

        text-decoration: none;
        padding: 1dvw;
        cursor: pointer;
    }
}



@keyframes animarNav{
    to{
        color: rgb(255, 255, 255);
        background: rgba(25 50 44 / 0%);
        backdrop-filter: blur(5px);
    }
}
.link {
    a {
        background-image: linear-gradient(to right,
                #a3cf29,
                #a3cf29 50%,
                #ffffff 50%);
        background-size: 200% 100%;
        background-position: -100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    a:before {
        content: 'das21';
        background: #a3cf29;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
    }

    a:hover {
        background-position: 0;
    }

    a:hover::before {
        width: 100%;
    }

    .active{
        background-image: linear-gradient(45deg, black, #a3cf29) !important;
        -webkit-background-clip: text !important;
    }
}

@media screen and (max-width: 850px) {
    nav{
        width: 100%;
    }
    ul{
        justify-content: space-between;
        li a{
            font-size: 1.3rem;
        }
    } 
    
}