.contenedorProyectos{
    background-color: rgb(255, 255, 255);
    clip-path: polygon(50% 0, 100% 0, 100% 74%, 50% 100%, 0 74%, 0 0);
    height: 122dvh;
    position: relative;
    top: -68dvh;
    z-index: 7;
}