<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <app-inicio-component id="inicio"></app-inicio-component>
    <app-experiencia id="experiencias"></app-experiencia>
    <app-proyectos id="proyectos"></app-proyectos>
    <!-- <app-informacion id="info"></app-informacion> -->
    <app-footer id="footer"></app-footer>
    <app-footer-desarrollador id="desarrollador"></app-footer-desarrollador>
  </body>
</html>
