<div class="contenedorExperiencia">
    <div class="texto">
        <p>
          En el &aacute;mbito laboral, contando con más de 5 años de experiencia, en empresas 
          colombianas y norteamericanas, haciendo parte de proyectos públicos y menciones en los mismos
          
        </p>
        
          
        
      </div>
  <div class="lista">
    <ul>
      <li [ngClass]="{'active': claseActiva == 1}" (click)="mostrarContenido(1)">Desarrollador</li>
      <li [ngClass]="{'active': claseActiva == 2}" (click)="mostrarContenido(2)">Customer service</li>
      <li [ngClass]="{'active': claseActiva == 3}" (click)="mostrarContenido(3)">FullStack developer</li>
      <li [ngClass]="{'active': claseActiva == 4}" (click)="mostrarContenido(4)">Analista de software</li>
    </ul>
  </div>
  <div class="contenido">
    <article id="opcion1" class="opcion mostrar">
      <h2>Desarrollador de software | 2019 - 2020 </h2>
      <h3>Expertos seguridad - Colombia | Remoto</h3>
      <p>
        Desarrollador backend, administrador de bases de datos e infraestructura, con tecnologías rest y soap
        para uso residencial, hospitalario y educativo
      </p>
    </article>
    <article id="opcion2" class="opcion">
      <h2>Analista de soporte | 2020 - 2021</h2>
      <h3>Westmed - New York & Connecticut</h3>
      <p>
        Mesa de soporte nivel 3 de aplicación web de Westmed, externa e interna con
        capacidad de analizar problemas de software, bugs de actualizaciones, reportes
        de clientes y usuarios del sistema interno, dar soluciones relacionadas con datos en bases
        de datos relacionales y no relacionales 
      </p>
    </article>
    <article id="opcion3" class="opcion">
      <h2>Software developer | 2021 - 2023</h2>
      <h3>VensureHR - Texas & New York</h3>
      <p>
        Desarrollador FullStack de aplicaciones web, escritorio y m&oacute;vil, desarrollando 
        desde cero y terminar dichos proyectos con entrega de documentaci&oacute;n para 
        usuarios finales, usuarios recurrentes y oficiales
      </p>
    </article>
    <article id="opcion4" class="opcion">
      <h2>Analista de desarrollo | 2023 - Presente</h2>
      <h3>Sibo Avance  - Colombia | Remoto</h3>
      <p>
        Desarrollador de software FullStack, analista de calidad y l&iacute;der de investigaci&oacute;n 
        de Inteligencia Artificial, enfoque principal en desarrollo de aplicaciones Web y móviles con
        variaci&oacute;n de escritorio, encargado de integraciones con endPoints terceros e implementaciones
        en ambiente de producci&oacute;n y local
      </p>
    </article>
  </div>
  
</div>
